In [68]:
import pandas as pd
import glob
import os

In [69]:
input_dir = 'text_files_no_obituaries_unprocessed'
dataframe_filename = "txts_bert.p"
print(input_dir)

text_files_no_obituaries_unprocessed

In [70]:
text_file_names = [file for file in os.listdir(input_dir) if file.endswith('.txt')]
print("found {} texts".format(len(text_file_names)))

found 299 texts

In [71]:
texts = []
for text_file_name in text_file_names:
    with open(f'{input_dir}/{text_file_name}', "r", encoding="utf-16") as input_file:
        texts.append([text_file_name[:-4], input_file.read()])
print("loaded {} texts".format(len(texts)))

loaded 299 texts

In [72]:
columns = ['date', 'text']
texts_df = pd.DataFrame(texts, columns = columns)

In [73]:
texts_df.columns

Index(['date', 'text'], dtype='object')

In [74]:
texts_df

           date                                               text
0    1703-08-13  Auss Wienn von  biss  Augusti 1703. DEn  dito ...
1    1703-08-17  Auss Wienn vom  biss  Augusti, 1703. DEn  Augu...
2    1703-08-20  Auss Wienn vom  biss  Augusti, 1703. DEn  dito...
3    1703-11-19  Wienn vom  biss  Novembris 1703. MJittwoch den...
4    1705-01-03  Wienn vom  biss  Jenner 1705. SAmbstag den  Je...
..          ...                                                ...
294  1796-06-18  1783   Wiener Zeitung. Sonnabend, den  Junius ...
295  1798-09-22  2861 N  ro  .  Mit  allergnä digsterFreiheit| ...
296  1798-09-26  2901 N  ro  .  Mit   allergnä digster Freiheit...
297  1798-09-29  2941   Mit   allergnädigster Freiheit. Wiener ...
298  1798-10-03  2981 N ro Mit   allergnä digster Freiheit.| Mi...

[299 rows x 2 columns]

In [75]:

import nltk
from nltk.tokenize import sent_tokenize

In [76]:
new_rows = []
for _, row in texts_df.iterrows():
    sentences = sent_tokenize(row['text'])
    for sentence in sentences:
        new_rows.append({'date': row['date'], 'text': sentence})

df_tokenized = pd.DataFrame(new_rows)

In [77]:
df_tokenized

             date                                               text
0      1703-08-13                Auss Wienn von  biss  Augusti 1703.
1      1703-08-13  DEn  dito hat man dass die Land Militz welche ...
2      1703-08-13                      Wie verlautet seynd  Käyserl.
3      1703-08-13  in   stehende Regimenter beordert ihren March ...
4      1703-08-13  Gestern ist ein Courier von der Armée auss Jta...
...           ...                                                ...
79777  1798-10-03  Praktische französische Grammatik, wodurch man...
79778  1798-10-03  Von Johann Valentin Meidinger, Lehrer der fran...
79779  1798-10-03  Fünfzehnte durchaus verbesserte und nach Waill...
79780  1798-10-03                        Frankfurt und Leipzig 1799.
79781  1798-10-03  38 Bogen stark, auf schönen weissen Druckpapie...

[79782 rows x 2 columns]

In [79]:
df_tokenized.to_pickle('input_files/     df_tokenized.pk')